<h1>Home Page</h1>

<% @post.each do |post| %>
    <div class='row-fluid'>
      <div class='span5'>
        <div class='well'>

          <div class='pull-right'>
            <%= time_ago_in_words(post.created_at) %> ago
          </div>
          <br />
          <%= post.content %>
        </div>
      </div>
    </div>
<% end %>

<br />
<%= link_to 'Admin for User list', admin_users_path, :class => "btn btn-primary" %>
<br />
<%= link_to 'Admin for Blog post', admin_posts_path, :class => "btn btn-primary"%>
<br />
<br />
<%= link_to 'Log in', log_in_path, :class => "btn btn-primary"%>
<br />
<%= link_to 'Log out', log_out_path, :class => "btn btn-primary"%>
<br />
<br />

<%= link_to 'Sign up', new_user_path, :class => "btn btn-primary" %>