<%= form_for [:admin, @project], :html => {multi: true} do |f| %>
    <% if @project.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

          <ul>
            <% @project.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p>
      <%=  f.label :title, "Title:" %>
      <%=  f.text_field :title %>
    </p>

    <p>
      <%= f.label :description %>  <br>
      <%= f.text_area :description %>
    </p>

    <p>
      <%=  f.label :image %> <br>
      <%=  f.file_field :image %>
    </p>

    <% if project.image_at %>
        <%= image_tag project.image_url(:thumb) %>
    <% else %>
        <td>&nbsp;</td>
    <% end %>


    <p>
      <%= f.label :url, "URL (where project can be found):" %>
      <%= f.text_field :url %>

    </p>
    <p>
      <%= f.label :picture, "URL (where Picture file can be found):" %>
      <%= f.text_field :picture %>
    </p>

    <div class="form-actions">
      <%= f.submit :class => "btn btn-primary" %>   <br />
      <%= link_to "Cancel", admin_projects_path, :class => "btn" %>    <br />
    </div>
<% end %>