<h1>Project list</h1>
<table class="table table-striped">
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th>Created</th>
    <th>Picture</th>
    <th>-- Title --</th>
    <th> -- Project Description -- </th>
  </tr>


  <% @projects.each do |project| %>

      <tr>
        <div class="btn-group">
          <td><%= link_to 'Show', admin_project_path(project), :class => "btn btn-mini btn-info" %></td>
          <td><%= link_to 'Edit', edit_admin_project_path(project), :class => "btn btn-mini" %></td>
          <td><%= link_to "Delete", admin_project_path(project), :class => "btn btn-mini btn-danger", method: :delete, confirm: "Are you sure?" %></td>
        </div>
        <td><%=  project.created_at.strftime('%m/%d/%Y %H:M') %></td>
        <td><%= image_tag project.image_url(:thumb) %> </td>
        <td><%= project.title %>
        <td><%= project.description %></td>
      </tr>

  <% end %>

</table>
<br />
<div class="btn-group">
  <%= link_to 'New Project', new_admin_project_path, :class => "btn btn-link" %><br />
  <%= link_to "Cancel", root_path, :class => "btn btn-link" %>
</div>



