<h1>Blog post list</h1>
<table>
  <tr>
    <th>-- Title --</th>
    <th>Created</th>
    <th>Published</th>
    <th></th>
    <th></th>
    <th></th>
    <th>Blog post</th>
  </tr>


  <% @posts.each do |post| %>

    <tr>
      <td><%= post.title %>
      <td><%=  post.created_at.strftime('%m/%d/%Y %H:M') %></td>

      <% if post.publish_at %>
         <td><%=  post.publish_at.strftime('%m/%d/%Y %H:M') %>  </td>
      <% else %>
         <td>&nbsp;</td>
      <% end %>

      <td><%= link_to 'Show', admin_post_path(post) %></td>
      <td><%= link_to 'Edit', edit_admin_post_path(post) %></td>
      <td><%= link_to "Delete", admin_post_path(post), method: :delete, confirm: "Are you sure?" %></td>
      <td><%= post.content %></td>
    </tr>

  <% end %>

 </table>
<br />
<%= link_to 'New Blog post', new_admin_post_path, :class => "btn btn-primary" %><br />
<%= link_to "Cancel", root_path, :class => "btn" %>
