<h1>Show Blog Post</h1>

<p id="notice"><%= notice %></p>

<div class='title'>
  Title: <%= @post.title %>
  Created: <%= @post.created_at.strftime('%m/%d/%Y %H:M') %>
</div>
<div class='post'>
  <%= @post.content %>
</div>

<br />
<%= link_to 'Edit', edit_admin_post_path(@post) %> <br />
<%= link_to 'Back', admin_posts_path %>   <br />
<%= link_to 'Return to Home', root_path %>
