<%= form_for [:admin, @user]  do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p>
      <%=  f.label :email %>
      <%=  f.text_field :email %>
    </p>

    <p>
      <%=  f.label :admin_auth %>
      <%=  f.check_box :admin_auth %>
    </p>


    <div class="form-actions">
      <%= f.submit :class => "btn btn-primary" %>  <br />
      <%= link_to "Cancel", admin_users_path, :class => "btn" %>  <br />
    </div>

<% end %>